.cell{
  width: 75px;
  height: 75px;
  border: 2px solid ;
  box-shadow: 0 0 0 2px;
  font-size: 50px;
  line-height: 75px;
  cursor: pointer;
}

#gameContainer{
  font-family: "permanent marker",cursive ;
  text-align: center;
}

#cellContainer{
  display: grid;
  grid-template-columns: repeat(3,auto);
  margin: auto;
  width: 225px;
}
#restartBtn{
  cursor: pointer;
}